:root {
    /* Primary */
    --clr-primary-soft-orange: hsl(35, 77%, 62%);
    --clr-primary-soft-red: hsl(5, 85%, 63%);

    /* Neutral */
    --clr-neutral-offwhite: hsl(36, 100%, 99%);
    --clr-neutral-grayish-blue: hsl(233, 8%, 79%);
    --clr-neutral-dark-grayish-blue: hsl(236, 13%, 42%);
    --clr-neutral-very-dark-blue: hsl(240, 100%, 5%);

    --ff-primary: 'Inter', sans-serif;
    --fs-base: 0.9375rem;
    --fw-regular: 400;
    --fw-bold: 700;
    --fw-extrabold: 800;
}

body {
    min-height: 100vh;
    background-color: var(--clr-neutral-offwhite);
    font-family: var(--ff-primary);
    font-size: var(--fs-base);
    color: var(--clr-neutral-dark-grayish-blue);
    font-weight: var(--fw-regular);
    padding: 2rem 1rem;
    display: grid;
    place-content: center;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.brand-logo {
    width: 2.75rem;
}

.navbar-toggler {
    background-color: var(--clr-neutral-offwhite);
    border: none;
    z-index: 1;
}

.navbar-collapse {
    background-color: var(--clr-neutral-offwhite);
    color: var(--clr-neutral-very-dark-blue);
    font-size: 1.1rem;
    min-height: 100%;
    width: 70%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10rem 0 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.collapse {
    display: none;
}

@media (min-width: 1000px) {
    body {
        padding: 5rem 11rem;
    }

    .brand-logo {
        width: 4rem;
    }

    .navbar-toggler {
        display: none;
    }

    .navbar-collapse {
        all: unset;
        color: var(--clr-neutral-dark-grayish-blue);
        font-size: 1rem;
        gap: 2.5rem;
    }

    .collapse {
        display: flex;
    }
}

.content-title {
    color: var(--clr-neutral-very-dark-blue);
    font-size: 2.5rem;
    font-weight: var(--fw-extrabold);
    line-height: 2.5rem;
    margin-top: 1.5rem;
}

.article > p {
    padding: 1rem 0;
}

.read-more-btn {
    background-color: var(--clr-primary-soft-red);
    color: var(--clr-neutral-offwhite);
    font-size: 0.875rem;
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    border: none;
    padding: 1rem 2.25rem;
}

.news {
    background-color: var(--clr-neutral-very-dark-blue);
    color: var(--clr-neutral-grayish-blue);
    padding: 1rem 1.3rem;
    margin: 4rem 0;
}

.news-title {
    color: var(--clr-primary-soft-orange);
    font-size: 2rem;
}

.new-item {
    padding: 2rem 0;
}

.new-item:last-child {
    padding-bottom: 0.5rem;
}

.new-item:not(:last-child) {
    border-bottom: 0.1px solid var(--clr-neutral-grayish-blue);
}

.new-title {
    font-size: 1.25rem;
    font-weight: var(--fw-extrabold);
    margin-bottom: 0.5rem;
}

@media (min-width: 1000px) {
    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 1fr;
        gap: 2rem;
    }

    picture {
        grid-column: 1 / 3;
    }

    .news {
        grid-column: 3;
        grid-row: 1 / -1;
        margin: 0;
    }
    
    .news-title {
        font-size: 2.5rem;
    }

    .content {
        position: relative;
    }

    .content-title {
        font-size: 3.5rem;
        line-height: 3.5rem;
        margin: 0;
    }

    .article > p {
        padding: 0;
    }

    .read-more-btn {
        position: absolute;
        bottom: 0;
    }
}

.top-articles {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
}

.article-item {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: auto 1fr;
}

.article-img {
    grid-row: 1 / -1;
    width: 6rem;
    margin-right: 1.5rem;
}

.article-number {
    color: var(--clr-neutral-grayish-blue);
    font-size: 2rem;
    font-weight: var(--fw-extrabold);
}

.article-title {
    color: var(--clr-neutral-very-dark-blue);
    font-size: 1.1rem;
    font-weight: var(--fw-extrabold);
}

@media (min-width: 1000px) {
    .top-articles {
        margin-top: 4rem;
        grid-template-rows: unset;
        grid-template-columns: repeat(3, 1fr);
    }
}